

body {
    background-color: #23262F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    /* border: 1px solid #ccc; */
    background-color: rgb(56 60 69);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-family: Josefin;
    font-weight: 600;
    min-width: 100px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

.btn:hover{
    cursor: pointer;
    color: rgb(56 60 69);
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.btn-tables.active {
    cursor: pointer;
    color: rgb(56 60 69);
    background-color: #fff;
}


#home-admin {
    /* overflow: hidden; */
}

#home-admin .header {
    width: 100%;
    padding: 20px;
}

.header__container {
    /* width: 100%; */
    display: flex;
    align-items: center;
    background-color: #191C23;
    padding: 8px 40px;
    border-radius: 20px;
    box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.4);
}

.header__container .logo img{
    height: 64px;
    width: auto;
}

.header__container .btn-stt {
    display: flex;
    width: 180px;
    justify-content: center;
    border-radius: 20px;
}

.header__user {
    display: flex;
    align-items: center;
}

.user__avarar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: #4dd3dd;
    border-radius: 50%;
    margin-right: 20px;
}

.user__avarar i,
.user__username a  {
    color: #fff;
    
}

.user__username a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    font-family: Josefin sans;
}


#home-admin .content__menu {
    background-color: #191C23;
    border-radius: 20px;
    box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.4);
    padding: 20px 20px;
    height: 78vh;
    overflow-y: auto !important;
    margin-bottom: 20px;
}

.content__menu::-webkit-scrollbar {
    width: 0px; /* Chiều rộng của thanh cuộn */
}



#home-admin .content__menu:first-child {

}
.content__menu-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    font-size: 14px;
    border-radius: 20px;
}

#home-admin .content__data {
    background-color: #191C23;
    border-radius: 20px;
    box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.4);
    padding: 0 30px;
    height: 78vh;
    margin-bottom: 20px;
    overflow-y: auto ;
}

.content__data::-webkit-scrollbar {
    width: 0px; /* Chiều rộng của thanh cuộn */
}

.content__data-item {
    height: 112px;
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
    border-radius: 6px;
    margin-top: 30px;
}

.content__data-item-header {
    border-bottom: 1px solid #ccc;
    height: 36px;
    padding: 8px;
    text-align: center;
}

.content__data-item-value {
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
}




/*----------------------- responsive-------------- */
/* mobile: width < 740px */
@media (min-width: 740px) and (max-width: 1023px){
    .btn {
        max-width: 60px;
        font-size: 12px;
    }

    .header__container .logo img {
        height: 40px;
    }

    .header__container .logo a {
        display: flex;
        justify-content: center;
    }
    
    .header__container .btn-stt {
        margin-left: 16px;
    }

    .user__avarar {
        height: 40px;
        width: 40px;
        margin-right: 8px;
    }
    
    .user__username a {
        font-size: 16px;
    }
}


/*Table - pc low*/ 
/* tablet: width >= 740p; < 1024px*/
@media (min-width: 740px) and (max-width: 1023px){


}

/* pc medium*/
/* pc medium: width => 1113px */
@media (min-width: 1113px) {

}
/*----------------------- responsive-------------- */