body {
    background-color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.btn:hover{
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    font-family: Josefin sans;
    color: #fff;
    background-color: #4dd3dd;
    transition: all 0.3s ease-in-out;
    min-width: 100px
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    /* border: 1px solid #ccc; */
    background-color: aliceblue;
    color: rgb(77, 162, 236);
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-family: Josefin;
    font-weight: 600;
    min-width: 100px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@font-face {
        font-family: "monument";
        src: url('fonts/monumentextended-regular-webfont.woff2') format('woff2'),
        url('fonts/monumentextended-regular-webfont.woff') format('woff');
        font-weight: norm   al;
        font-style: normal;
        }

@font-face {
            font-family: "camel";
            src: url('fonts/camel.woff2') format('woff2'),
            url('fonts/camel.woff') format('woff');
            font-weight: normal;
            font-style: normal;
            }

@font-face {
            font-family: "night";
            src: url('fonts/tuesdaynight-regular-webfont.woff2') format('woff2'),
             url('fonts/tuesdaynight-regular-webfont.woff') format('woff');
            font-weight: normal;
            font-style: normal;
            }
    

#home-admin .header {
    width: 100%;
    padding: 20px;
}

.header__container {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 8px 40px;
    border-radius: 20px;
    box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.4);
}

.header__container .logo img{
    height: 64px;
    width: auto;
}

.header__container .btn-stt {
    display: flex;
    width: 180px;
    justify-content: center;
}

.header__user {
    display: flex;
    align-items: center;
}

.user__avarar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: #4dd3dd;
    border-radius: 50%;
    margin-right: 20px;
}

.user__username {
    
    
}

.user__username a {
    text-decoration: none;
    color: rgb(77, 162, 236);
    font-size: 20px;
    font-weight: 600;
    font-family: Josefin sans;
}


#home-admin .content__menu {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.4);
    padding: 8px;

}





/*----------------------- responsive-------------- */
/* mobile: width < 740px */
@media (min-width: 740px) and (max-width: 1023px){
    .btn {
        max-width: 60px;
        font-size: 12px;
    }
    .header__container .logo img {
        height: 40px;
    }
    
    .header__container .btn-stt {
        margin-left: 16px;
    }

    .user__avarar {
        height: 40px;
        width: 40px;
        margin-right: 8px;
    }
    
    .user__username a {
        font-size: 16px;
    }
}


/*Table - pc low*/ 
/* tablet: width >= 740p; < 1024px*/
@media (min-width: 740px) and (max-width: 1023px){


}

/* pc medium*/
/* pc medium: width => 1113px */
@media (min-width: 1113px) {

}
/*----------------------- responsive-------------- */